@import "./components/Button.css";
@import "./components/Clock.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');

/**
 * Style sheet which defines the outer most and general styling of the application,
 * like the default typo and the relation of the components to each other (flex box).
 */
 
 /*color variables*/
:root {
  --active-button-color: rgba(255, 133, 62, 0.801);
  --button-background: rgba(187, 187, 187, 0.767);
}

html,
body,
#root {
    height: 100%;
    font-family: 'Roboto Mono', monospace;
    font-size: 32px;
}

.parent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.buttonsParent {
  display: flex;
  flex-flow: row wrap;
}

@media only screen and (max-width: 830px) {
  .buttonsParent {
    flex-direction: column;
  }
}